#html, body {
    margin: 0px;
    padding: 0px;
}
/* min-width = 최소 너비 */
#wrap {
    min-width: 1340px;
    text-align: left;
}

#header {
    width : 1280px;
    margin: auto;
}

#topSearchWrap {
    position: relative;
    height: 156px;
}

#search_area {
    position: absolute;
    top: 64px;
    left: 50%;
    z-index: 10;
    width: 706px;
    border: 1px solid #03c75a;
    border-radius: 33px;
}



#searchForm > input {
}



#searchForm > button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 17px 27px 16px 10px;
    cursor: pointer;
}

#topAsideArea {
    position : absolute;
    top : 18px;
    left : 10px;
}

#topAsideButton {
    background: none;
    padding : 10px;
    border : none;
    cursor: pointer;
}

#topAsideButton :hover {
    background-color: lightgray;
    border-radius: 50%;
}

#topAsideButton > div {
    background-image: url(../clone_naver/asset/sp_main.png);
    width: 26px;
    height: 26px;
    background-size: 422px 405px;
    background-repeat: no-repeat;
    background-position: -335px -283px;
}


#footer {
    height: 2000px;
}