#html, body {
    margin: 0px;
    padding: 0px;
}
/* 감싸주는 요소 min-width*/
#wrap {
    min-width: 1340px;
    text-align: left;
    background-color: blue;
}

#header {
    width : 1280px;
    margin: auto;
    background-color: yellow;
}

#topSearchWrap {
    position: relative;
    height: 156px;
    background-color: red;
}

#topAsideButton {
    background: none;
    padding : 10px;
    border : none;
    cursor: pointer;
}

#topAsideButton :hover {
    background-color: gray;
    border-radius: 50%;
}

#topAsideButton > div {
    background-image: url(../clone_naver/asset/sp_main.png);
    width: 26px;
    height: 26px;
    background-size: 422px 405px;
    background-repeat: no-repeat;
    background-position: -335px -283px;
}


#footer {
    height: 2000px;
}